<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define UpgradeGuid="{C3666D56-FBED-4ADE-AD5E-94298DE449F4}" ?>
  <?define ProductVersion="!(bind.FileVersion.SOLUTIONIZER_EXE)" ?>

  <?define NetFx472MinRelease = 461808 ?>

  <Product
    Name="Solutionizer"
    Id="*"
    UpgradeCode="$(var.UpgradeGuid)"
    Version="$(var.ProductVersion)"
    Manufacturer="Thomas Freudenberg" Language="1033">

    <Package
      InstallerVersion="300"
      Compressed="yes"
      InstallScope="perUser"/>

    <Media
      Id="1"
      Cabinet="media1.cab"
      EmbedCab="yes"/>

    <Property Id="ARPHELPLINK" Value="https://github.com/thoemmi/Solutionizer/issues" />
    <Property Id="ARPCONTACT" Value="Thomas Freudenberg" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/thoemmi/Solutionizer" />
    <Property Id="ARPPRODUCTICON" Value="icon" />

    <!-- start application after install -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Solutionizer" />
    <Property Id="WixShellExecTarget" Value="[#SOLUTIONIZER_EXE]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Upgrade Id="$(var.UpgradeGuid)">
      <UpgradeVersion
        Minimum="$(var.ProductVersion)"
        OnlyDetect="yes"
        Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion
        Minimum="0.0.0"
        Maximum="$(var.ProductVersion)"
        IncludeMinimum="yes"
        IncludeMaximum="no"
        Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Property Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx472MinRelease)"
    </SetProperty>
    <Condition Message="This setup requires the full .NET Framework 4.7.2 installed.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED]]>
    </Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='LocalAppDataFolder' Name='AppData'>
        <Directory Id='INSTALLLOCATION' Name='Solutionizer'>
          <Component Id="Solutionizer.exe" Guid="{279C60A9-74DE-4365-9BCC-D68F318FA493}">
            <RemoveFolder Id='INSTALLLOCATION' On='uninstall' />
            <File Id="SOLUTIONIZER_EXE" Name="Solutionizer.exe" Source="Solutionizer/bin/Debug/Solutionizer.exe">
              <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuFolder" Name="Solutionizer"
                                WorkingDirectory='INSTALLLOCATION'/>
            </File>
            <File Id="SOLUTIONIZER_EXE_CONFIG" Name="Solutionizer.exe.config" Source="Solutionizer/bin/Debug/Solutionizer.exe.config" />
            <RegistryValue Root='HKCU' Key='SOFTWARE\ThomasFreudenberg\Solutionizer' Name='Solutionizer.exe' Type='integer' Value='1' KeyPath='yes'/>
          </Component>
          <Component Id="MahApps.Metro.dll" Guid="{FCB59AD0-66C8-4674-B649-F38072F12959}">
            <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="Solutionizer/bin/Debug/MahApps.Metro.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="MahApps.Metro.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="Newtonsoft.Json.dll" Guid="{56A3B853-A07B-4923-B64E-4F5CBE211334}">
            <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="Solutionizer/bin/Debug/Newtonsoft.Json.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="Newtonsoft.Json.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="NLog.dll" Guid="{B4B12FEA-DA1C-4622-9DF5-1B7F31F54708}">
            <File Id="NLog.dll" Name="NLog.dll" Source="Solutionizer/bin/Debug/NLog.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="NLog.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="Ookii.Dialogs.Wpf.dll" Guid="{D955369E-EB80-414F-9259-DA8583BFBF2B}">
            <File Id="Ookii.Dialogs.Wpf.dll" Name="Ookii.Dialogs.Wpf.dll" Source="Solutionizer/bin/Debug/Ookii.Dialogs.Wpf.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="Ookii.Dialogs.Wpf.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="System.Windows.Interactivity.dll" Guid="{293D4BDC-9A9E-422B-AE9E-D427AFF8DA50}">
            <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="Solutionizer/bin/Debug/System.Windows.Interactivity.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="System.Windows.Interactivity.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="Autofac.dll" Guid="{4B38CAEB-C3A3-4FE5-A293-0CAF827E605C}">
            <File Id="Autofac.dll" Name="Autofac.dll" Source="Solutionizer/bin/Debug/Autofac.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="Autofac.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="TinyLittleMvvm.dll" Guid="{DE0E8B25-B626-47B3-8AAE-5AD240FA6622}">
            <File Id="TinyLittleMvvm.dll" Name="TinyLittleMvvm.dll" Source="Solutionizer/bin/Debug/TinyLittleMvvm.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="TinyLittleMvvm.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="Octokit.dll" Guid="{4B4DBBF0-1B78-47C8-BDB3-D779FF2F7497}">
            <File Id="Octokit.dll" Name="Octokit.dll" Source="Solutionizer/bin/Debug/Octokit.dll"/>
            <RegistryValue Root="HKCU" Key="SOFTWARE\ThomasFreudenberg\Solutionizer" Name="Octokit.dll" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <Feature Id="Complete">
      <ComponentRef Id="Solutionizer.exe"/>
      <ComponentRef Id="MahApps.Metro.dll"/>
      <ComponentRef Id="Newtonsoft.Json.dll"/>
      <ComponentRef Id="NLog.dll"/>
      <ComponentRef Id="Ookii.Dialogs.Wpf.dll"/>
      <ComponentRef Id="System.Windows.Interactivity.dll"/>
      <ComponentRef Id="Octokit.dll"/>
      <ComponentRef Id="Autofac.dll"/>
      <ComponentRef Id="TinyLittleMvvm.dll"/>
    </Feature>

    <!-- no downgrade -->
    <CustomAction
      Id="PreventDowngrading"
      Error="There is already a newer version installed." />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>

    <WixVariable Id='WixUILicenseRtf' Value='Assets\MS-PL.rtf'/>
    <WixVariable Id="WixUIBannerBmp" Value="Assets\setup_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\setup_dialog.bmp" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Icon Id="icon" SourceFile="Assets\logo.ico"/>
  </Product>
</Wix>