<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.7.9.55-ALPHA" />
  <package id="MvvmLightLibsPreview" version="4.1.0" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="Ookii.Dialogs" version="1.0" />
  <package id="WPFSpark" version="1.1" />
</packages>